page-list-master {
  ion-scroll {
    white-space: nowrap;
    height: 100%;
  }
  
  .song-title {
    
  }
  
  .song-artist {
    
  }
  
  .song-album {
    
  }
  
  .song-rating {
    font-size: 12px;
  }
}
