page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
  
  .item-artist {
    
  }
  
  .item-chords {
    width: 100%;
  }
  
  .item-lyrics {
    width: 100%;
    white-space: pre;
  }
  
  .chord-info {
    
  }
  
  .chord-set {
    
  }
  
  .chord-set-name {
    
  }
}
